[submodule "FIWARE OCB Python API"]
	path = fiware-api
	url = https://github.com/ppuska/mediscara.fiware
	branch = model_ver2

[submodule "Integration Service FIWARE SH"]
	path = is_ws/src/FIWARE-SH
	url = https://github.com/eProsima/FIWARE-SH

[submodule "Integration Service ROS2 SH"]
	path = is_ws/src/ROS2-SH
	url = https://github.com/eProsima/ROS2-SH

[submodule "eProsima Integration Service"]
	path = is_ws/src/Integration-Service
	url = https://github.com/eProsima/Integration-Service
