[submodule "is_ws/src/ROS2-SH"]
	url = https://github.com/eProsima/ROS1-SH.git
[submodule "is_ws/src/Integration-Service"]
	url = https://github.com/eProsima/Integration-Service.git
[submodule "is_ws/src/FIWARE-SH"]
	url = https://github.com/eProsima/FIWARE-SH.git
