[MASTER]
init-hook=
    import sys;
    sys.path.append("mediscara_ws/install/mediscara/lib/python3.8/site-packages");
    sys.path.append("mediscara_ws/install/interfaces/lib/python3.8/site-packages");

max-line-length=120
extension-pkg-whitelist=PyQt5
ignore-paths=.*tests/
